<header>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/images/first-aid-kit.png" alt=""></a>
        </div>
        <nav>
            <a href="/">Home</a>
        </nav>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/form">Add Incident</a></li>
                <li><a href="/triage">Triage</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                    <ul class="nav-links">
                        <li><a href="/admin/admins">Admins</a></li>
                        <li><a href="/admin/block">Blocked</a></li>
                        <li><a href="/admin/unblock">Unblocked</a></li>
                        <li><a href="/admin/approve">Approved</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <%- include('../partials/_login-toggler') %>
    </div>
    <h1>FAP Supervision &amp; Reporting Tool</h1>
</header>