<footer>
    <ul>
        <li>
            &copy; 2024 First Aid Portal. All Rights Reserved.
        </li>
        <li>
           Designed and Developed by <a href="https://nuestman.github.io/numanusman/" class="dev" target="_blank">Numan Usman</a>
        </li>
    </ul>
</footer>