<header>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/images/first-aid-kit.png" alt="">vjkvulih</a>
        </div>
    </div>
    <div class="head-intro">
        <h1>Welcome to the First Aid Portal</h1>
    </div>
</header>