
<nav class="toggler">  
    <% if (loggedIn === true) { %>
        <!-- Show dashboard/logout links if logged in -->
        <li><a href="/admin/admin-users">Admin Users</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/feedback/results">Feedback</a></li>
        <li><a href="/records">View Records</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a class="user-profile-icon" href="/users/user-profile"><img src="<%= user.profilePicUrl %>" alt="User Profile Picture" ></a> </li>
        <% } else { %>
            <!-- Show login/register links if not logged in -->
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        <% } 
    %>
</nav>