
<aside class="sidebar">
    <h2>Admin Nav</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/incident-book">Incident Book</a>
    <a href="/admin/users">Manage Users</a>
    <a class="soon reports" href="coming-soon">Analytics &amp; Reports</a>
    <a class="" href="/inventory">Inventory Management</a>
    <a class="soon training" href="coming-soon">Training &amp; Resources</a>
    <a class="soon settings" href="coming-soon">Settings</a>
</aside>