<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mineAid - Home</title>
  <!-- Link to FontAwesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/mineaid-styles.css">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body class="full-height" id="home">
    <header>
        <h1>Welcome to Mine<span class="accent">Aid</span>:</h1>
        <p class="bold">The Digital First Aid Portal for AGAG Obuasi Mine.</p>
    </header>

    <main class="home-main">
        <div class="container">
            <div class="alert-parent">
                <%- include('partials/_flash-alert') %>
                <div class="logo-large">
                    <img src="/images/mineaid-orange.svg" alt="First Aid Briefcase with a Cross" loading="lazy">
                </div>
                <section class="intro">
                    <p class="bold">Designed to help manage the first aid posts effectively. <br>Manage users/staff, Triage clients, Track records, Manage the post inventory, Export reports for analysis, etc. <br>Follow these steps to <span class="emphasis"><em>rale</em></span> through the portal:</p>
                    <ul>
                        <li><strong>Register:</strong> Fill out the registration form and wait for approval.</li>
                        <li><strong>Activate:</strong> Get an approval mail from MineAid Notifications.</li>
                        <li><strong>Login:</strong> Enter your login details.</li>
                        <li><strong>Explore:</strong> Familiarize yourself. Provide feedback if any.</li>
                    </ul>
                </section>
                <section class="qlinks">
                    <h2>Quick Links</h2>
                    <div class="btn-grp">
                        <a href="/landing-page" class="btn"><i class="fas fa-arrow-left"></i> Hub</a>
                        <a href="/register" class="btn">Register</a>
                        <a href="/login" class="btn">Login</a>
                        <a href="/reset-request" class="btn">Reset</a>
                    </div>
                </section>
            </div>
        </div>
    <!-- Floating Feedback Button -->
    <div id="feedback-float" class="feedback-float">
        <button onclick="window.location.href='/user-survey'" aria-label="Give Feedback">
            📝 Feedback
        </button>
    </div>
    </main>

    <%- include('partials/_footer') %>

  
<script src="/js/mineaid-scripts.js"></script>
</body>
</html>
