<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nursing Portal</title>
  <!-- Link to FontAwesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Link to the custom stylesheet -->
  <link rel="stylesheet" href="/css/mineaid-styles.css">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body class="landing-page-body">
  <div class="landing-page">
    <!-- Fun question prompt -->
    <section>
        <p class="head">Welcome to <span class="accent">NUMANS</span> (Nursing Management Software) <span class="accent">Portal</span></p>
        <h1 class="hub-prompt">
            Choose your mission: <br>Are you here to aid or supervise?
        </h1>
    </section>
    
    <main>
        <!-- Option cards with icons and centered content -->
        <div class="options">
          <a href="/iaid" class="option-card iAid">
            <div class="">
                <div class="icon"><i class="fas fa-kit-medical"></i></div>
                <div class="option-text"><h3>iAid</h3></div>
            </div>
          </a>
          <!-- <a href="/iemerge" class="option-card iEmerge">
            <div class="">
                <div class="icon"><i class="fas fa-heartbeat"></i></div>
                <div class="option-text"><h3>iEmerge</h3></div>
            </div>
          </a> -->
          <a href="/isoup" class="option-card iSoup">
            <div class="">
                <div class="icon"><i><img src="images/hot-soup.svg" alt="iSoup - Hot bowl of soup"></i></div>
                <div class="option-text"><h3>iSoup</h3></div>
            </div>
          </a>
          <!-- <a href="/imanage" class="option-card iManage">
            <div class="">
                <div class="icon"><i class="fas fa-cogs"></i></div>
                <div class="option-text"><h3>iManage</h3></div>
            </div>
          </a> -->
        </div>
    </main>
  </div>
  
  <script src="js/mineaid-scripts.js"></script>
</body>
</html>
