/* Load local font files */
/* Grouped by 'Congenial' font family */
@font-face {
    font-family: 'Congenial';
    src: url('/fonts/Congenial_Light.otf') format('otf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Congenial';
    src: url('/fonts/Congenial_Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Congenial';
    src: url('/fonts/Congenial_Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Congenial';
    src: url('/fonts/Congenial_Bold.otf') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Congenial_Black';
    src: url('/fonts/Congenial_Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Define reusable variables */
:root {
    /* Colors */
    --primary-color: #69b1ff;
    --primary-color-hover: #0072ec;
    --primary-color-light: #69b1ff;
    --primary-color-bg: #eaf6ff;
    --primary-color-bg: #fff;
    --primary-color-subtle: #deeffd;
    --secondary-color: #0072ec;
    --dark-color: #203764;
    --dark-color-light: #304266;
    --accent-color: #f7941c;
    --accent-color-hover: #ed7d31;
    --accent-color-hover-2: #9b501e;
    --danger-color: #721c24;
    --error-color: #ff4d4d;
    --error-bg-color: #f8d7da;
    --error-border-color: #f5c6cb;
    --success-color: #28a745;
    --success-bg-color: #d4edda;
    --success-border-color: #c3e6cb;
    --text-color: var(--dark-color);
    --text-light-color: var(--primary-color-bg);
    --background-color: var(--primary-color-bg);
    --button-background-color: var(--accent-color);
    --button-background-color-hover: var(--accent-color-hover);
    --white-color: #fff;
  
    /* Spacing */
    --padding-small: 12px;
    --padding-medium: 24px;
    --padding-large: 32px;
    --padding-xlarge: 48px;
    --padding-y-small: 16px 0;
    --padding-y-medium: 32px 0;
    --padding-y-large: 56px 0;
    --padding-hor-small: 0 16px;
    --padding-hor-medium: 0 24px;
    --padding-hor-large: 0 32px;
    --padding-hor-xlarge: 0 56px;
    --margin-y-small: 16px 0;
    --margin-y-normal: 24px 0;
    --margin-y-medium: 32px 0;
    --margin-y-large: 56px 0;
    --margin-hor-small: 0 16px;
    --margin-hor-medium: 0 24px;
    --margin-hor-large: 0 32px;
    --margin-hor-xl: 0 56px;
  
    /* Border radius */
    --border-radius: 4px;
    --border-radius-large: 8px;
  
    /* Font family and sizes */
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-heading: 'Congenial', var(--font-family);
    --font-size-small: 14px;
    --font-size-regular: 16px;
    --font-size-medium: 24px;
    --font-size-large: 32px;
    --font-size-xlarge: 48px;
    --font-size-xxlarge: 56px;
  
    /* Box shadow */
    --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 10px rgba(0, 0, 0, 0.1);

    /* Transitions */
    --transition-bg: background-color 0.3s ease-in-out;
    --transition-normal: all 0.3s ease-in-out;
    --transition-fast: all 0.2s ease-in-out;
    
    /* Buttons */
    --button-padding: var(--padding-small) var(--padding-medium);
    --button-font-size: inherit;
    --button-font-family: var(--font-heading);
    --button-border-radius: var(--border-radius);
    --button-box-shadow: var(--box-shadow-light);
    --button-transition: var(--transition-normal);

    /* Layout */
    --2-cols: 1fr 1fr;
    --3-cols: 1fr 1fr 1fr;
}

  
/* Modern CSS Reset */

/* Box sizing: more intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Remove default margin and padding from all elements */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
} */

/* Set up the base font size and family */ 
  html {
    font-size: 100%; /* Use the browser's default font size */ 
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
  
  body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Media & form resets */
  /* Ensure images, videos, and other media fit their containers */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }


/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Remove default link styling */
a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition-normal);
}

/* Set a consistent border style */
hr {
  border: none;
  height: 1px;
  background-color: #eaeaea;
}

/* Form reset - Remove default form styling */
  input, button, textarea, select {
    font: inherit;
    border: none;
    background: none;
  }
  
  /* Make buttons and inputs clickable */
  button, select, option {
    cursor: pointer;
    background-color: transparent;
  }
  
  /* Make sure that form elements don't shrink in flex layouts */
//   button, input, select, textarea {
//     max-width: 100%;
//     overflow: visible;
//   }
  
  /* Input styling */
//   input[type="text"], textarea {
//     border: 1px solid #ccc;
//     padding: 8px;
//     border-radius: 4px;
//     width: 100%;
//     outline: none;
//   }
  
  /* Responsive motion */
  /* Remove animations from media queries (for people who prefer reduced motion) */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* General layout */
  .container {
    width: 100%;
    max-width: 1200px;
    padding: var(--padding-hor-large);
    margin-inline: auto;
  }

  .content-centered {
    display: grid;
    place-items: center;
  }

  .bold {
    font-weight: bold;
  }

  .grid-1{
    display: grid;
    gap: 20px;
  }
  .grid-2{
    display: grid;
    grid-template-columns: var(--2-cols);
    gap: 20px;
  }
  .grid-3{
    display: grid;
    grid-template-columns: var(--3-cols);
    gap: 20px;
  }
  .grid-2n1 {
    display: grid;
    grid-template-columns: 2, 1fr 1fr;
  }

  /* Header */
  header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: var(--padding-small);
    text-align: center;
  }
  
  header .container, header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a {
    margin-right: var(--padding-small);
    color: var(--white-color);
    font-weight: 700;
    :not(:last-of-type) {
        margin-right: none;
    }
  }
  header nav a:hover {
    color: var(--text-color);
  }

  header li {
    display: inline;
  }
  .nav-item {
    position: relative;
    display: inline-block;
  }
  
  .nav-link {
    padding: 10px 20px;
  }
  
  .nav-links {
    display: none; /* Initially hide the sub-menu */
    position: absolute;
    top: 100%; /* Ensure it shows up beneath the parent */
    left: 0;
    background-color: #203764d0;
    text-align: left;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links li a {
    padding: 10px 20px;
    width: 100%;
    display: block;
    transition: var(--transition-normal);
  }
  
  .nav-links li a:hover {
    background-color: #274277;
    color: #0072ec;
  }
  
  /* Show sub-menu when hovering over the parent .nav-item */
  .nav-item:hover > .nav-links {
    display: block;
  }
  
  .logo {
    width: 48px;
  }
  .logo-large {
    width: 30%;
    margin-inline: auto;
  }
  
  .prim-header {
      background-color: var(--primary-color-light);
      a {
          color: var(--white-color);
        }
    }
    
    #records_page .sec-header {
        background-color: var(--primary-color);
    }
    
    /* Text styling */
    /* p, ul, li {
        max-width: 60ch;
        margin-inline: auto;
    } */
     h1, h2, h3, h4 {
        font-family: var(--font-heading);
     }
    
    h1 {
        font-size: var(--font-size-xxlarge);
        line-height: 1;
        margin-bottom: 24px;
    }
    h2 {
        font-size: var(--font-size-xlarge);
        line-height: 1.2;
        margin-bottom: 24px;
    }
    h3 {
        font-size: var(--font-size-large);
    }
    h4 {
        font-size: var(--font-size-medium);
    }
    
    /* Section */
    section.intro, .qlinks {
    padding: var(--padding-medium);
    text-align: center;
  }
  
  /* Button styles */
// .alert-btn-grp {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 16px;
//     margin: var(--margin-y-normal);
//     .btn-outline {
//         width: unset;
//     }
// } //REVIEW THIS
.v-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: var(--margin-y-normal);
}
.btn-grp {
    margin-top: var(--margin-y-small);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: var(--margin-y-normal);
    .btn-outline {
        width: unset;
    }
}
.btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: bold;
    letter-spacing: 1px;
    padding: var(--padding-small) var(--padding-medium);
    text-decoration: none;
    text-align: center;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    transition: var(--transition-normal);
}
    .btn:hover {
    background-color: var(--accent-color-hover);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 100%;
}
.btn-outline:hover {
    background-color: unset ;
    opacity: .7;
}
.wide-table {
    width: 100%;
    overflow: scroll;
}

.admin-users table {
    width: 100%;
    box-shadow: var(--box-shadow-light);
}
.admin-user-action-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}
.reg-action {
    padding: 2px 6px;
    color: var(--white-color);
    border-radius: 4px;
}
.reg-action:hover {
    opacity: 0.8;
}
.btn-approve {
    background-color: var(--success-color);
}
.btn-block {
    background-color: var(--error-color);
}
.btn-unblock {
    background-color: var(--success-color);
}

/* Footer */
footer {
    background-color: var(--primary-color-light);
    color: var(--white-color);
    text-align: center;
    padding: var(--padding-small);
}
footer p {
    font-size: var(--font-size-small);
}
.dev {
    color: var(--primary-color-hover);
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* Page-specific styling */

/*PASSWORD RESET*/
.reset-request {
    form {
        text-align: left;
        button {
            margin-top: unset;
        }
    }
}


/*MESSAGES PAGE*/
.messages {
    margin: var(--margin-y-large);
    h2, h3 {
        color: var(--accent-color);
        font-size: var(--font-size-large);
        margin-bottom: 24px;
    }
    h1 {
        margin-bottom: 32px;
    }
}
.message-item {
    background-color: #f9f9f9;
    padding: var(--padding-medium);
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-medium);
}

/*USER PROFILE PAGE*/
// Show Profile Icon in place of firstname
.user-profile-icon img {
    display: inline;
    width: 32px;
    border-radius: 50%;
}
.profile-page main {
    margin: var(--margin-y-medium);
}
.profile-container {
    text-align: left;
    max-width: 800px;
    section {
    padding: var(--padding-medium);
    // box-shadow: var(--box-shadow-light);
    border: 1px solid #deeffd;
        h4 {
            margin: 32px 0 10px 0;
        }
        transition: var(--transition-fast);
    }

    .profile-pic {
        padding: 0;
        box-shadow: none;
        display: flex;
        align-items: center;
    }
    .profile-pic img {
        margin-inline: auto;
    }
    .personal-container {
        display: grid;
        gap: 20px;
    }
    .profile-title {
        font-size: var(--font-size-large);
        margin-bottom: unset;
    }

    .theme-preference form {
        margin-top: 24px;
        .btn-grp {
            justify-content: unset;
        }
    }
    .btn-grp {
        margin: unset;
    }
}
.profile-container section:hover {
    box-shadow: var(--box-shadow-medium);
}

#login-main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;

    header {
    display: none;
    }
    footer {
    background-color: transparent;
    margin-inline: auto;
    padding: 0;
    }
// #Login main affecting some pages......Find them
    .login-main {
        flex-grow: 1;
        div:not(.alert) {
            height: 100%;
        }
    }
}
.login-main {
  flex-grow: 1;
  .login-main-container {
      height: 100%;
  }
  .login-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    position: relative;
  }
  .intro-container {
    padding: var(--padding-large);
    background-color: var(--text-color);
    background-image: url(/images/mathurin-napoly-matnapo-pcP1HwNrSLQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--white-color);
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro-content {
    margin-inline: auto;
    padding: var(--padding-hor-large);
    h1 {
        margin-bottom: 32px;
    }
    ul, li, p {
        font-size: 20px;
      }
  }
  .intro-content p {
      margin-bottom: 24px;
  }
  .intro-content li {
      margin-left: 32px;
      position: relative;
  }
  .intro-content li::before {
      display: inline-block;
      position: absolute;
      content:" ";
      background: url(/images/mineaid-orange.svg);
      background-size: contain;
      width: 24px;
      height: 24px;
      left: -32px;
      bottom: 4px;
  }
}

.icon {
    display: flex;

}
.icon-small {
    width: 32px;
    margin-right: 1rem;
}

/* Homepage Styling */
//   #home, #success_page {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     header {
//         margin-bottom: 0;
//     }
//   }
  
// #home main, #success_page main {
//     display: flex;
//     place-items: center;
//     flex-grow: 1;
// }
  .full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    header {
        margin-bottom: 0;
    }
    main {
        flex-grow: 1;
        display: grid;
        place-items: center;
    }
    .inner-flex {
        text-align: center;

    }
  }

// COMING SOON
#soon {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#soon main {
    flex-grow: 1;
    .container {
        min-height: 700px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    
    .coming-soon-container .logo-large {
        margin-bottom: 32px;
    }
    .btn-grp {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 32px 0;
        a {
            width: unset;
            margin: unset;
        }
    }
}



/* Index page styling */
/* Form container */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--padding-xlarge);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    h2 {
        font-size: var(--font-size-medium);
    }
}
  /* Form headings */
.submit-page {
    h1, h3 {
        color: var(--accent-color);
        text-align: center;
        margin-bottom: var(--heading-margin, 20px);
    }
    .form-container {
        max-width: 800px;
    }
}


/* Form input groups */  
  /* Form elements */

  .input-grp {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .input-grp-hor {
    flex-direction: row;
    justify-content: space-between;
    input {
        flex-grow: 1;
    }
    .btn {
        margin-top: unset;
        width: max-content;
    }
  }
  
  .input-grp label {
    font-family: var(--font-heading);
    font-weight: bold;
  }
  
.input-grp input,
.input-grp select,
.input-grp textarea {
    padding: var(--input-padding, 10px);
    border: 1px solid var(--input-border-color, #ccc);
    border-radius: var(--input-border-radius, 4px);
    font-size: var(--input-font-size, 16px);
    font-family: var(--body-font-family, 'Arial', sans-serif);
}
.input-grp select {
    height: 100%;
}

textarea {
    resize: vertical;
}

/* Two-column layout for vital signs */
h3 {
    margin-top: 30px;
}

/* .tews {
    display: flex;
    justify-content: space-between;
} */

.tews .input-grp {
    flex: 1;
    margin-right: 10px;
}
form > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
// form .alert {
//     display: none;
// }
.date-time, .company-badge {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Ensure the last item doesn't have extra margin */
.tews .input-grp:last-child {
    margin-right: 0;
}

/* Radio buttons */
.input-grp input[type="radio"],
.input-grp input[type="checkbox"] {
    margin-right: 10px;
}

.input-grp label[for="disposition"] {
    display: block;
    margin-bottom: 10px;
}

  /* Buttons */
//   button[type="submit"] {
//     background-color: var(--button-background-color);
//     color: var(--white-color);
//     padding: var(--button-padding);
//     font-size: var(--button-font-size);
//     border-radius: var(--button-border-radius);
//     cursor: pointer;
//   }


.message-container {
    max-width: 765px;
    margin-inline: auto;
    text-align: center;
    padding: var(--padding-large);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-light);
    p {
        font-size: 1.2rem;
    }
    h1, h2 {
        color: var(--accent-color-hover);
    }
}



/* Admin Page Styles */
#admin .container {
    max-width: 100%;
}
.dashboard, #records_page .container{
    overflow: scroll;
}
.dashboard-page h1 {
    text-align: center;
    margin-bottom: 32px;
}

#admin .admin-container {
    margin: 0 auto;
    padding: var(--padding-medium);
    background-color: var(--white-color);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-medium);
  }

/* #home footer {
    position: fixed;
    bottom: 0;
} */

#admin h1 {
    font-size: var(--font-size-large);
  }

/* Filter Section */
#admin .filter-section h3,
.records-section h3,
.export-section h3 {
    color: var(--secondary-color);
}

#admin .filter-section form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 20px;
}

#admin .filter-section label {
    margin-right: 10px;
}

#admin .filter-section input,
.filter-section select,
.filter-section button {
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Records Table */
table {
    border-collapse: collapse;
    margin-top: 56px;
    box-shadow: var(--box-shadow-medium);
}
tr:nth-child(odd) {
  background-color: var(--primary-color-subtle);
}
thead th {
    background-color: var(--accent-color);
    // text-transform: uppercase;
    // font-size: var(--font-size-medium);
    font-weight: 700;
    color: var(--white-color);
}

th, td {
    padding: var(--padding-small);
    border: 1px solid #dddddd4d;
    text-align: left;
}

/* Export Section */
#admin .export-section h3 {
    text-align: left;
}
#admin .export-section form {
    display: flex;
    align-items: center;
}

#admin .export-section label {
    margin-right: 10px;
}

#admin .export-section select,
.export-section button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#admin .export-section button {
    background-color: #28a745;
    color: #fff;
    margin-left: 10px;
}

#admin .export-section button:hover {
    background-color: #218838;
}


/* FLASH ALERTS */

/* .login-main .alert {
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 30px;
    position: relative;

} */
.alert-parent {
    position: relative;
    margin-inline: auto;
}
.alert {
    padding: 8px 16px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: -20px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;  
}
/* Show only if content is present */
.alert:empty {
    display: none;
}
  
.alert:not(:empty) {
    display: block;
}

.user-table-container .alert {
    top: -40px;
}
.alert-danger {
    background-color: var(--error-bg-color);
    color: var(--danger-color);
    border: 1px solid var(--error-border-color);
}

.alert-success {
    background-color: var(--success-bg-color);
    color: var(--success-color);
    border: 1px solid var(--success-border-color);
}

/* Flash message animation (fade-out) */
.alert.fade-out {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    animation: fadeOut 5s forwards; // Adjust timing as needed
  }
  
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #555;
}

.close-btn:hover {
    color: #000;
}


/*Floating Feedback Button*/

.feedback-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Initially hidden */
    z-index: 1000;
}
.feedback-float button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: var(--box-shadow-medium);
    transition: var(--transition-normal);
}
.feedback-float button:hover {
    background-color: var(--text-color);
}


  
  /* Responsive layout */
@media (max-width: 768px) {
    .container {
      padding: var(--padding-hor-medium);
    }
    .grid-3 {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .container {
      padding: var(--padding-hor-medium);
    }
    form > div {
      grid-template-columns: 1fr;
    }

    .grid-2 {
        grid-template-columns: unset;
    }
    .grid-3 {
        grid-template-columns: unset;
    }
}
  