/* Load local font files */
/* Grouped by 'Congenial' font family */
@font-face {
    font-family: 'Congenial';
    src: url('/fonts/Congenial_Light.otf') format('otf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Congenial';
    src: url('/fonts/Congenial_Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Congenial';
    src: url('/fonts/Congenial_Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Congenial';
    src: url('/fonts/Congenial_Bold.otf') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Congenial_Black';
    src: url('/fonts/Congenial_Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Define reusable variables */
:root {
    /* Colors */
    --primary-color: #69b1ff;
    --primary-color-hover: #0072ec;
    --primary-color-light: #69b1ff;
    --primary-color-bg: #eaf6ff;
    --primary-color-bg: #fff;
    --primary-color-subtle: #deeffd;
    --secondary-color: #0072ec;
    --dark-color: #203764;
    --dark-color-light: #304266;
    --accent-color: #f7941c;
    --accent-color-hover: #ed7d31;
    --accent-color-hover-2: #9b501e;
    --danger-color: #721c24;
    --error-color: #ff4d4d;
    --error-bg-color: #f8d7da;
    --error-border-color: #f5c6cb;
    --success-color: #28a745;
    --success-bg-color: #d4edda;
    --success-border-color: #c3e6cb;
    --text-color: var(--dark-color);
    --text-light-color: var(--primary-color-bg);
    --background-color: var(--primary-color-bg);
    --button-background-color: var(--accent-color);
    --button-background-color-hover: var(--accent-color-hover);
    --white-color: #fff;
  
    /* Spacing */
    --padding-small: 12px;
    --padding-medium: 24px;
    --padding-large: 32px;
    --padding-xlarge: 48px;
    --padding-y-small: 16px 0;
    --padding-y-medium: 32px 0;
    --padding-y-large: 56px 0;
    --padding-hor-small: 0 16px;
    --padding-hor-medium: 0 24px;
    --padding-hor-large: 0 32px;
    --padding-hor-xlarge: 0 56px;
    --margin-y-small: 16px 0;
    --margin-y-normal: 24px 0;
    --margin-y-medium: 32px 0;
    --margin-y-large: 56px 0;
    --margin-hor-small: 0 16px;
    --margin-hor-medium: 0 24px;
    --margin-hor-large: 0 32px;
    --margin-hor-xl: 0 56px;
  
    /* Border radius */
    --border-radius: 4px;
    --border-radius-large: 8px;
  
    /* Font family and sizes */
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-heading: 'Congenial', var(--font-family);
    /* Responsive Typography Variables */
    --font-size-small: clamp(12px, 1vw + 10px, 14px);      /* Scales between 12px and 14px */
    --font-size-regular: clamp(14px, 1vw + 12px, 16px);     /* Scales between 14px and 16px */
    --font-size-medium: clamp(18px, 2vw + 14px, 24px);      /* Scales between 18px and 24px */
    --font-size-large: clamp(24px, 3vw + 16px, 32px);       /* Scales between 24px and 32px */
    --font-size-xlarge: clamp(32px, 4vw + 18px, 48px);      /* Scales between 32px and 48px */
    --font-size-xxlarge: clamp(32px, 5vw + 20px, 56px);     /* Scales between 40px and 56px */

  
    /* Box shadow */
    --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 10px rgba(0, 0, 0, 0.1);

    /* Transitions */
    --transition-bg: background-color 0.3s ease-in-out;
    --transition-normal: all 0.3s ease-in-out;
    --transition-fast: all 0.2s ease-in-out;
    
    /* Buttons */
    --button-padding: var(--padding-small) var(--padding-medium);
    --button-font-size: inherit;
    --button-font-family: var(--font-heading);
    --button-border-radius: var(--border-radius);
    --button-box-shadow: var(--box-shadow-light);
    --button-transition: var(--transition-normal);

    /* Layout */
    --2-cols: repeat(2, 1fr);
    --3-cols: repeat(3, 1fr);
}

  
/* Modern CSS Reset */

/* Box sizing: more intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Set up the base font size and family */ 
  html {
    font-size: 100%; /* Use the browser's default font size */ 
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
  
  body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Media & form resets */
  /* Ensure images, videos, and other media fit their containers */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }


/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Remove default link styling */
a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition-normal);
}

/* Set a consistent border style */
hr {
  border: none;
  height: 1px;
  background-color: #eaeaea;
}

/* Form reset - Remove default form styling */
  input, button, textarea, select {
    font: inherit;
    border: none;
    background: none;
    width: 100%;
  }
  /* Buttons*/
  button, input[type="button"] {
    width: unset;
  }
  /* Radio buttons */
  input[type="radio"],
  input[type="checkbox"] {
      margin-right: 6px;
      width: unset;
  }
  
  /* Make buttons and inputs clickable */
  button, select, option {
    cursor: pointer;
    background-color: transparent;
  }
  
  /* Responsive motion */
  /* Remove animations from media queries (for people who prefer reduced motion) */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* General layout */
  .container {
    width: 100%;
    max-width: 1200px;
    padding: var(--padding-hor-large);
    margin-inline: auto;
  }

  .content-centered {
    display: grid;
    place-items: center;
  }

  .bold {
    font-weight: bold;
  }

  /* Grid Containers */
  .grid-1{
    display: grid;
    gap: 20px;
  }
  .grid-2{
    display: grid;
    grid-template-columns: var(--2-cols);
    gap: 20px;
  }
  .grid-3{
    display: grid;
    grid-template-columns: var(--3-cols);
    gap: 20px;
  }
  .grid-2n1 {
    display: grid;
    grid-template-columns: 2, 1fr 1fr;
  }
  .grid-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .card {
        margin-bottom: unset;
    }
  }
  .grid-1-3 {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 1rem;
  }
  .grid-4 {
    display: grid;
    grid-template-columns: auto-fit, minmax(75px, 1fr);
    grid-auto-columns: 100px;
  }

  .accent {
    color: var(--accent-color);
  }
  .success {
    background-color: var(--success-color);
    color: var(--white-color);
  }
  .danger {
    background-color: var(--error-color);
    color: var(--white-color);
  }

  title {
    font-size: 1.5rem;
    background-color: var(--success-bg-color);
  }
  
/* Admin Dashboard Main Layout */
.dashboard {
    padding: 2rem 2rem 2rem 0;
    h3 {
        margin: 2rem 0;
        color: var(--accent-color);
    }
    .container {
        padding: 0;
    }
}
.dashboard section {
    margin-bottom: 2rem;
}
  
  /* Card Styling */
  .card-container {
    background-color: #f9f9f9;
    padding: 1.5rem 1.5rem 2.5rem;
    border-radius: 8px;
  }
  .card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow-light);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
  .card:hover {
    box-shadow: var(--box-shadow-medium);
    transform: translateY(-4px);
  }
  
  
  .sidebar {
      position: sticky;
      top: 0;
      overflow: hidden;
      width: 300px;
      background-color: #203764;
      color: white;
      padding: 15px;
      height: 100vh;
      a {
          color: white;
          text-decoration: none;
          display: block;
          margin-bottom: 10px;
          padding: 10px;
          background-color: #304266;
          border: 1px solid transparent;
          border-radius: 5px;
      }
      a:hover {
          background-color: #203764;
          border: 1px solid #304266;
      }
  }
  
  /* Quick Links Specific Styles */
  .quick-links .card {
    text-align: center;
    padding: 1.2rem;
    a {
      font-weight: bold;
      margin-top: 0.5rem;
    }
  }
  
  .main-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: var(--box-shadow-medium);
  }
  .card {
      background-color: #f9f9f9;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      ul, li, p {
        max-width: unset;
        margin-inline: unset;
      }
  }
  .card h3 {
      margin-top: 0;
      margin-bottom: 1.2rem;
  }
  .card h4 {
      margin-top: 0;
      line-height: 1.2;
      margin-bottom: 1rem;
  }
  .stats .card:last-child, .operations .card:last-child {
      margin-right: 0;
  }
  .statistics {
    .db-mgt {
        grid-column: span 2;
        text-align: center;
    }
  }
  .survey-prompt a {
    color: var(--accent-color);
    font-weight: 700;
  }

  /* Header */
  header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 16px 24px;
    text-align: center;
    p {
        margin-inline: auto;
    }
  }
  .prim-header {
    margin: var(--margin-y-medium);
    h1 {
        text-align: left;
        margin: unset;
    }
  }
  
  .toggler>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  
  header nav a, .nav-item {
    // margin-right: var(--padding-medium);
    color: var(--white-color);
    font-weight: 700;
    
  }
  header nav a:hover {
    color: var(--text-color);
    background-color: var(--white-color);
  }

  .nav-item {
    position: relative;
    display: inline-block;
    z-index: 100;
    cursor: pointer;
    // margin-bottom: 1rem;
  }
    
  .nav-links {
    display: none; /* Initially hide the sub-menu */
    position: absolute;
    left: -10px;
    background-color: #69b2fff1;
    text-align: left;
    width: max-content;
    box-shadow: var(--box-shadow-medium);
    padding-top: .5rem;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links li a {
    padding: 1rem 2rem;
    width: 100%;
    display: block;
    transition: var(--transition-normal);
    border-bottom: 1px solid #ffffff56;
  }
    
  /* Show sub-menu when hovering over the parent .nav-item */
  .nav-item:hover > .nav-links {
    display: block;
    border-radius: 5px;
    border-bottom: 1px solid #ffffff56;
  }


  // Styling for hamburger icon and close button
.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    
    span {
        width: 25px;
        height: 3px;
        background-color: var(--white-color);
        border-radius: 2px;
    }
}


  
.logo {
    width: 48px;
}
.logo-large {
    width: 30%;
    margin-inline: auto;
}

    
/* Text styling */
.head {
    font-family: var(--font-heading);
    font-size: var(--font-size-medium);
}
p.subhead {
    margin-bottom: 1.5rem;
}
p {
    max-width: 60ch;
}
h1, h2, h3, h4 {
    font-family: var(--font-heading);
    text-align: center;
}

h1 {
    font-size: var(--font-size-xxlarge);
    line-height: 1;
    margin: 1.5rem 0;
}
h2 {
    font-size: var(--font-size-xlarge);
    line-height: 1.2;
    margin-bottom: 24px;
}
h3 {
    font-size: var(--font-size-large);
}
h4 {
    font-size: var(--font-size-medium);
}


/* Section */
.h-flex {
    display: flex;
    justify-content: space-between;
    align-items: self-end ;
    gap: 1rem;
    flex-wrap: wrap;
    .btn-grp {
        margin: 0;
        flex-wrap: wrap;
    }
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
@media (max-width: 500px) {
    .h-flex {
        flex-direction: column;
        align-items: center;
    }
    .weekly-logs {
        overflow: scroll;
    }
}
.v-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: var(--margin-y-normal);
}
.btn-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: var(--margin-y-normal);
    .btn-outline {
        width: unset;
    }
}
.qlinks {
padding: var(--padding-y-medium);
justify-content: left;
}
  
.btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: bold;
    letter-spacing: 1px;
    padding: var(--padding-small) var(--padding-medium);
    text-decoration: none;
    text-align: center;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    transition: var(--transition-normal);
}
    .btn:hover {
    background-color: var(--accent-color-hover);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 100%;
}
.btn-outline:hover {
    background-color: unset ;
    opacity: .7;
}
.wide-table {
    width: 100%;
    overflow: scroll;
}

.admin-users table {
    width: 100%;
    box-shadow: var(--box-shadow-light);
}
.admin-user-action-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}
.reg-action {
    padding: 2px 6px;
    color: var(--white-color);
    border-radius: 4px;
}
.reg-action:hover {
    opacity: 0.8;
}
.btn-approve {
    background-color: var(--success-color);
}
.btn-block {
    background-color: var(--error-color);
}
.btn-unblock {
    background-color: var(--success-color);
}

/* Footer */
footer {
    background-color: var(--primary-color-light);
    color: var(--white-color);
    text-align: center;
    padding: var(--padding-small);
}
footer p {
    font-size: var(--font-size-small);
}
.dev {
    color: var(--secondary-color);
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1px 4px;
    margin: 0 4px;
    border-radius: 4px;
    text-decoration: underline;
    // background-color: var(--white-color);
    border: 1px solid transparent;
    &:hover {
        color: var(--white-color);
        text-decoration: none;
    }
}

/* Page-specific styling */

/* Testing Colors*/ 
// header, footer {
//     background-color: #d9d9d9;
//     color: var(--text-color);
//     a.nav-item {
//         color: var(--text-color);
//     }
// }

/*PASSWORD RESET*/
.reset-request {
    form {
        text-align: left;
        button {
            margin-top: unset;
            width: 100%;
        }
    }
}

.table-page-container {
    margin: 0 1.2rem 1.2rem;
    overflow: hidden;
    
    .btn-grp {
        justify-content: left;
    }
}
.table-page-head h1 {
    text-align: center;
}
.full-height main.user-feedback {
    place-items: unset;
}


/*MESSAGES PAGE*/
.messages {
    margin: var(--margin-y-large);
    h2, h3 {
        color: var(--accent-color);
        font-size: var(--font-size-large);
        margin-bottom: 24px;
    }
    h1 {
        margin-bottom: 32px;
    }
}
.message-item {
    background-color: #f9f9f9;
    padding: var(--padding-medium);
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-medium);
}

/*USER PROFILE PAGE*/
// Show Profile Icon in place of firstname
.user-profile-icon {
    padding: 0.5em !important;
}
.user-profile-icon img {
    width: 64px;
    margin-inline: auto;
    border-radius: 50%;
}
.profile-page main {
    margin: var(--margin-y-medium);
}
.profile-container {
    text-align: left;
    max-width: 800px;
    section {
    padding: var(--padding-medium);
    // box-shadow: var(--box-shadow-light);
    border: 1px solid #deeffd;
        h4 {
            margin: 32px 0 10px 0;
        }
        transition: var(--transition-fast);
    }

    .profile-pic {
        padding: 0;
        box-shadow: none;
        display: flex;
        align-items: center;
    }
    .profile-pic img {
        margin-inline: auto;
    }
    .personal-container {
        display: grid;
        gap: 20px;
    }
    .profile-title {
        font-size: var(--font-size-large);
        margin-bottom: unset;
    }

    .theme-preference form {
        margin-top: 24px;
        .btn-grp {
            justify-content: unset;
        }
    }
    .btn-grp {
        margin: unset;
    }
}
.profile-container section:hover {
    box-shadow: var(--box-shadow-medium);
}

.card-outline {
    padding: var(--padding-medium);
    border: 1px solid #deeffd;
        h4 {
            margin: 32px 0 10px 0;
        }
        transition: var(--transition-fast);

    &:hover {
        box-shadow: var(--box-shadow-light);
    }
}

#login-main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;

    header {
    display: none;
    }
    footer {
    background-color: transparent;
    margin-inline: auto;
    padding: 0;
    }
// #Login main affecting some pages......Find them
    .login-main {
        flex-grow: 1;
        div:not(.alert) {
            height: 100%;
        }
    }
}
.login-main {
  flex-grow: 1;
  .login-main-container {
      height: 100%;
  }
  .login-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    position: relative;
  }
  .intro-container {
    padding: var(--padding-large);
    background-color: var(--text-color);
    background-image: url(/images/mathurin-napoly-matnapo-pcP1HwNrSLQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--white-color);
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro-content {
    margin-inline: auto;
    padding: var(--padding-hor-large);
    h1 {
        text-align: left;
        max-width: 600px;
    }
    ul, li, p {
        font-size: 1.5rem;
      }
  }
  .intro-content p {
      margin-bottom: 24px;
  }
  .intro-content li {
      margin-left: 32px;
      position: relative;
  }
//   .intro-content li::before {
//       display: inline-block;
//       position: absolute;
//       content:" ";
//       background: url(/images/mineaid-orange.svg);
//       background-size: contain;
//       width: 24px;
//       height: 24px;
//       left: -32px;
//       bottom: 4px;
//   }
}

.icon {
    display: flex;

}
.icon-small {
    width: 32px;
    margin-right: 1rem;
}
.full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    header {
        margin-bottom: 0;
    }
    main {
        flex-grow: 1;
        display: grid;
        place-items: center;
    }
    .inner-flex {
        text-align: center;
        form {
            text-align: left;
        }
    }
}

// COMING SOON
#soon {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#soon main {
    flex-grow: 1;
    .container {
        min-height: 700px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    
    .coming-soon-container .logo-large {
        margin-bottom: 32px;
    }
    .btn-grp {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 32px 0;
        a {
            width: unset;
            margin: unset;
        }
    }
}



/* Index page styling */
.home-main {
    .intro {
        width: fit-content;
        margin-inline: auto;
    }
    p {
        font-size: 20px;
        margin-bottom: 20px;
    }
    // p {
    //     text-align: center;
    // }
    ul {
        font-size: 20px;
        margin-inline: auto;
    }
}
/* Form container */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--padding-xlarge);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    overflow: hidden;
    h2 {
        font-size: var(--font-size-medium);
    }
}
  /* Form headings */
.triage-page {
    h1, h3 {
        color: var(--accent-color);
        text-align: center;
        margin-bottom: var(--heading-margin, 20px);
    }
    h3 {
        margin-top: 30px;
    }
    .form-container {
        max-width: 800px;
    }
}


/* Form input groups */  
  /* Form elements */

  .input-grp {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.input-grp label[for="disposition"] {
    display: block;
    margin-bottom: 10px;
}
  .input-grp-hor {
    flex-direction: row;
    justify-content: space-between;
   
    .btn {
        margin-top: unset;
        width: max-content;
    }
  }
  
  .input-grp label {
    font-family: var(--font-heading);
    font-weight: bold;
  }
  
.input-grp input,
.input-grp select,
.input-grp textarea {
    padding: var(--input-padding, 10px);
    border: 1px solid var(--input-border-color, #ccc);
    border-radius: var(--input-border-radius, 4px);
    font-size: var(--input-font-size, 16px);
    font-family: var(--body-font-family, 'Arial', sans-serif);
}
.input-grp select {
    height: 100%;
}

textarea {
    resize: vertical;
}


/* TEWS */
form > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.message-container {
    max-width: 765px;
    margin-inline: auto;
    text-align: center;
    padding: var(--padding-large);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-light);
    p {
        font-size: 1.2rem;
    }
    h1, h2 {
        color: var(--accent-color-hover);
    }
}



/* Admin Page Styles */
#admin .container {
    max-width: 100%;
}
.dashboard-page h1 {
    text-align: center;
    margin-bottom: 32px;
}

#admin .admin-container {
    margin: 0 auto;
    padding: var(--padding-medium);
    background-color: var(--white-color);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-medium);
}

#admin h1 {
    font-size: var(--font-size-large);
}

/* Filter Section */
#admin .filter-section h3,
.records-section h3,
.export-section h3 {
    color: var(--text-color);
}

#admin .filter-section form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 20px;
}

#admin .filter-section label {
    margin-right: 10px;
}

#admin .filter-section input,
.filter-section select,
.filter-section button {
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Records Table */
table {
    border-collapse: collapse;
    box-shadow: var(--box-shadow-medium);
}
tr:nth-child(odd) {
  background-color: var(--primary-color-subtle);
}
thead th {
    background-color: var(--accent-color);
    // text-transform: uppercase;
    // font-size: var(--font-size-medium);
    font-weight: 700;
    color: var(--white-color);
}

th, td {
    padding: var(--padding-small);
    border: 1px solid #dddddd4d;
    text-align: left;
}

/* Export Section */
#admin .export-section h3 {
    text-align: left;
}
#admin .export-section form {
    display: flex;
    align-items: center;
}

#admin .export-section label {
    margin-right: 10px;
}

#admin .export-section button {
    margin-left: 10px;
    height: 100%;
}


/* FLASH ALERTS */

.alert-parent {
    position: relative;
    margin-inline: auto;
}
.alert {
    z-index: 100;
    padding: 8px 16px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;  
}
/* Show only if content is present */
.alert:empty {
    display: none;
}
  
.alert:not(:empty) {
    display: block;
}

.user-table-container .alert {
    top: -40px;
}
.alert-danger {
    background-color: var(--error-bg-color);
    color: var(--danger-color);
    border: 1px solid var(--error-border-color);
}

.alert-success {
    background-color: var(--success-bg-color);
    color: var(--success-color);
    border: 1px solid var(--success-border-color);
}

/* Common Bordered Element */
.bordered-element {
    border: 1px solid var(--border-color, #ddd); /* Set a default, but use a variable */
    border-radius: var(--border-radius-small, 4px); /* Consistent rounded corners */
    padding: var(--padding-small, 8px); /* Consistent padding */
}

/* Striped Table */
.striped-table {
    border-collapse: collapse;
    margin-top: 56px;
    box-shadow: var(--box-shadow-medium);
}

.striped-table tr:nth-child(odd) {
    background-color: var(--primary-color-subtle);
}

.striped-table th,
.striped-table td {
    text-align: left;
}

.striped-table thead th {
    background-color: var(--accent-color);
    font-weight: 700;
    color: var(--white-color);
}


/* Flash message animation (fade-out) */
.alert.fade-out {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    animation: fadeOut 5s forwards; // Adjust timing as needed
  }
  
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #555;
}

.close-btn:hover {
    color: #000;
}


/*Floating Feedback Button*/

.feedback-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Initially hidden */
    z-index: 1000;
}
.feedback-float button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: var(--box-shadow-medium);
    transition: var(--transition-normal);
}
.feedback-float button:hover {
    background-color: var(--text-color);
}


/* INVENTORY MGT */
.filter-container {
    input, button, select {
        width: fit-content;
    }
    .filter-grp {
        flex-direction: row;
        select {
            height: auto;
        }
        option {
            color: var(--text-color);
            background-color: var(--primary-color-subtle);
        }
    }
    .btn {
        background-color: var(--primary-color-subtle);
        color: var(--text-color);
        &:hover {
            background-color: var(--text-color);
            color: var(--white-color);
        }
    }
    input, select {
        border: 1px solid var(--primary-color-subtle);
    }
}

.inventory-table-container {
    padding: var(--padding-large);
    flex-grow: 1;
    h1, h2 {
        text-align: left;
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.breadcrumb span {
    margin-right: 8px;
}

.breadcrumb .badge {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 12px;
}

.breadcrumb .badge-primary {
    background-color: var(--text-color);
    color: var(--white-color);
}

.breadcrumb .badge-info {
    background-color: var(--primary-color-subtle);
    color: var(--text-color);
}

.no-items {
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    color: var(--error-color);
    font-weight: bold;
}


/* Items Register Page */
.items-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.item-card {
    overflow: visible;
    transition: box-shadow 0.2s ease;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    transition: transform 0.2s ease;
    position: relative;
    img {
        margin-right: 10px;
        border: 1px solid #f4f4f4;
        border-radius: 8px;
    }
    .mod-reg-item {
        position: absolute;
        right: 10px;
        .mod-reg-link {
            padding: 0.65rem;
        }
    }
}

.item-card:hover {
    transform: scale(1.05);
}

.item-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.item-card .item-text h4 {
    margin: 0;
    font-size: 1.2em;
}
.item-card:hover {
    box-shadow: var(--box-shadow-light);
}
.item-card-content {
    display: flex;
    padding: 10px;
    width: 100%;
}
.item-icon {
    width: 80px;
    height: 80px;
    margin-right: 16px;
}
.item-text h3 {
    margin: 0;
    font-size: 1.2rem;
}
.item-text p {
    margin: 5px 0 0;
    color: #666;
    font-size: 0.9rem;
}
.item-cards {
display: flex;
flex-wrap: wrap;
gap: 15px;
}


.items-register {
    position: relative;
}

.modal {
    display: none;
}

#item-modal, #edit-modal, #report-modal {
    inset: 50%;
    translate: -50% -50%;
    width: 40%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* margin-inline: auto; */
    position: absolute;
    color: var(--text-color);
    
    .h-flex {
        justify-content: left;
        margin-top: 1rem;
        button {
            padding: .2rem .5rem;
        }
    }
    .modal-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .item-details, .report-details {
            flex: 1;
            padding:10px;
        }
    }
    
    .modal-close {
        background: transparent;
        font-size: 1em;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

// Modify Register Items
.items-register main {
    position: relative;
}
.modify-register {
    position: sticky; 
    bottom: 2rem;
    right: 2rem;
    margin-bottom: 1rem;
    z-index: 1000;
    place-self:end ;
}

.mod-reg-items {
    display: none;
}
.mod-reg-item {
    display: inline-block;
    z-index: 100;
    &:hover > .mod-reg-items {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: absolute;
        top: -13rem;
    }
}
.top-gap {
    padding-top: 1rem;
}
.mod-reg-link {
    display: inline-block;
    padding: 1rem;
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-light);
    &:hover {
        background-color: var(--primary-color-subtle);
    }
}

/* Hide menu by default */
.hidden {
    display: none;
}
.card-edit-items.hidden {
    display: none;
}
.card-edit-items {
    position: relative;
    top: 5px;
    right: 208%;
    z-index: 100;
    display: block;
    .card-edit-items-inner {
        width: 100%;
        display: flex;
        gap: 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        .mod-reg-link {
            padding: .8rem;
            border: 1px solid var(--primary-color-subtle);
            box-shadow: none;
            background-color: var(--white-color);
            &:hover {
                color: var(--accent-color);
            }
        }
    }
}

/* Style the menu */
// .card-edit-items {
//     position: absolute;
//     background-color: #fff;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     z-index: 1000;
// }


@media (max-width: 668px) {
    .item-card {
        max-width: 100%;
    }
    #item-modal, #edit-modal {
        width: 100%;
    }
    .modal-content {
        button {
            width: unset;
        }
        .h-flex {
            flex-direction: row;
        }
    }
}
  
  /* Responsive layout */
@media (max-width: 950px) {
    .grid-1-3 {
        grid-template-columns: 1fr; // Stack sidebar on smaller screens
    }
    .sidebar {
        position: relative;
        width: 100%;
        height: fit-content;
        a {
            display: inline-block;
        }
    }
}
  /* Responsive layout */
@media (max-width: 768px) {
    .container {
      padding: var(--padding-hor-medium);
    }
    .grid-3 {
        grid-template-columns: 1fr 1fr;
    }
    .grid-1-3 {
        grid-template-columns: 1fr; // Stack sidebar on smaller screens
    }

    .login-container {
        flex-direction: column;
        flex-grow: unset;
        p, ul , footer {
            display: none;
        }
        .intro-container, .form-container {
            width: 100%;
        }
    }
    .btn {
        font-size: 14px;
    }
    .form-container {
        padding: var(--padding-medium);
    }
    
    .inventory-table-container {
        flex-grow: 1;
        h1, h2 {
            text-align: center;
        }
    }
}
@media (max-width: 500px) {

    .container {
        padding: var(--padding-small);
    }

    .home-main {
        .qlinks {
            padding: unset;
            margin-top: 2em;
        }
    }

    .grid-container {
        grid-template-columns: 1fr;
        .db-mgt {
            grid-column: unset;
        }
    }

    /* Show sub-menu when .nav-item touched on mobile*/
    .nav-item:hover > .nav-links {
        margin-top: 0.6rem;
    }
    // .container {
    //   padding: var(--padding-hor-medium);
    // }
    form > div {
      grid-template-columns: 1fr;
    }

    .grid-2 {
        grid-template-columns: unset;
        .input-grp:not(:last-child) {
            margin-bottom: 0;
        }
    }
    .grid-3 {
        grid-template-columns: unset;
    }
    /* Incident Form*/
    .incident-form {
        .container {
            padding: 0;
        }
    }

    
    /* Buttons*/
    button, input[type="button"], .btn {
    width: 100%;
    }
    button.modal-close {
        width: unset;
    }

    .dashboard {
        .card-container {
            padding: 1.5rem;
        }
        h3 {
        margin: 0 0 1rem 0;
        line-height: 1.2;
        }
    }

    /* Index page styling */
    .home-main {
        // .container {
        //     padding: 32px;
        // }
        p {
            font-size: 1rem;
            margin: 1rem;
            text-align: center;
        }
        ul {
            font-size: 1rem;
            margin-inline: auto;
        }
        p, ul {
            width: 300px;
        }
    }

    .dashboard {
        padding: 0;
    }

    .card {
        text-align: center;
    }

    // .nav-container {
    //     flex-direction: row;
    // }
    // .toggler {
    //     display: block;
    //     background-color: var(--primary-color);
    //     position: absolute;
    //     top: 60px; // Adjust to position below header
    //     // right: 0;
    //     // width: 100%;
    //     z-index: 10;
    //     // padding: 1rem;
    //     ul {
    //         flex-direction: column;
    //     }
    // }
    // // Show hamburger icon
    // .hamburger-menu {
    //     display: flex;
    // }
    // // Toggle display on clicking hamburger icon
    // .show-menu {
    //     display: flex !important;
    // }
    // // Styles for nested nav items under each main item
    // .nav-links {
    //     display: block;
    //     margin-left: 1rem;

    //     a {
    //         padding: 0.5rem 1rem;
    //         color: var(--white-color);
    //         font-weight: normal;
    //         &:hover {
    //             color: var(--text-color);
    //         }
    //     }
    // }
    // // Styling for nav items to ensure space and visibility in the toggled menu
    // .nav-item {
    //     margin-bottom: 1rem;
    // }

    /* INVENTORY MGT */
    .quick-actions {
        .card {
            width: 100%;
        }
    }

    .options:nth-child(odd) {
        background-color: var(--primary-color-bg);
    }

    /* Inventory page */
    .main-content {
        width: 100vw;
    }

    .landing-page-body {
        padding: 1rem;
    }
}
  


@media (max-width: 650px) {
    .nav-container {
        flex-direction: column;
    }

    .btn {
        padding: var(--padding-small);
    }
}



/* NURSING-HUB */

/* Landing Page */

.landing-page-body {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing-page {
    text-align: center;
    max-width: 800px;
    padding: 2rem;
  }
  
  .hub-prompt {
    max-width: 800px;
    margin-inline: auto;
    margin-bottom: 3rem;
    font-size: var(--font-size-large);
    color: var(--text-color);
  }
  
  /* Options container */
  .options {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    max-width: 600px;
  }
  
  /* Card styling for options */
  .option-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14em;
    height: 14em;
    padding: var(--padding-large);
    border-radius: var(--border-radius-large);
    border: 1px solid #deeffd;
    box-shadow: var(--box-shadow-light);
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    transition: var(--transition-normal);
    opacity: 0; /* Start hidden */
    position: relative;
  
    /* Hover effects */
    &:hover {
      transform: translateY(-5px);
      box-shadow: var(--box-shadow-medium);
      background-color: var(--text-color);
      color: var(--white-color);
      .icon {
        color: var(--white-color);
      }
    }
  
    /* Icon styling */
    .icon, .icon i>svg {
      font-size: 5rem; /* Make the icon large */
      display: block;
      margin-bottom: var(--margin-y-small);
      margin-inline: auto;
      color: var(--primary-color);
      transition: var(--transition-normal);
    }
  
    /* Option text styling */
    .option-text {
      font-size: var(--font-size-medium);
      font-weight: 500;
    }
  }
/* Initial placement outside the viewport */
.iAid, .iSoup, .iManage, .iEmerge {
    opacity: 0; /* Start fully transparent */
  }
  
  .iAid {
    transform: translateY(100vw); /* Positioned off-screen to the left */
    background-color: var(--primary-color-bg, orange); /* Fallback color */
  }
  
  .iSoup {
    transform: translateY(100vw); /* Positioned off-screen to the right */
    background-color: var(--primary-color-subtle, lightcoral); /* Fallback color */
  }
  .iEmerge {
    transform: translateY(100vw); /* Positioned off-screen to the left */
    background-color:  var(--primary-color-subtle, lightcoral); /* Fallback color */
  }
  
  .iManage {
    transform: translateY(100vw); /* Positioned off-screen to the right */
    background-color: var(--primary-color-bg, orange); /* Fallback color */
  }
  
  /* Slide-in animation for iAid from the left */
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateY(100vw);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Slide-in animation for iSoup from the right */
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateY(100vw);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply animations with slower duration */
  .iAid.animate {
    animation: slideInLeft 1.5s ease-out forwards;
  }
  
  .iSoup.animate {
    animation: slideInRight 1.5s ease-out forwards;
  }
  .iEmerge.animate {
    animation: slideInLeft 1.5s ease-out forwards;
  }
  
  .iManage.animate {
    animation: slideInRight 1.5s ease-out forwards;
  }
  
  
  @media (max-width: 600px) {
    .options {
      flex-direction: column;
    }
    
    .option-card {
        width: 80%; /* Full-width on smaller screens */
        margin-bottom: var(--margin-y-small);
        margin-inline: auto;
    }
  }


/* iSOUP*/
.isoup {
    .isoup-table-hidden {
        display: none;
    }
    .card {
        margin-bottom: 0;
    }
    .h-flex {
        justify-content: unset;
        margin: 2rem 0;
    }
    .filter-container {
        margin-top: 2rem;
    }
    
    .pagination a {
        margin: 0 5px;
        text-decoration: none;
    }
    .pagination a.active {
        font-weight: bold;
        color: var(--accent-color);
    }
}
#isoup, #imanage {
    header, footer {
        background-color: var(--text-color);
    }

    .intro {
        margin-top: 2rem;
    }
}

/* Database Management */
.db-management {
    .input-grp {
        display: grid;
    }
    .import-export {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        gap: 1em;
    }
    button {
        text-align: center;
    }
}