<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iEmerge - Home</title>
  <!-- Link to FontAwesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/mineaid-styles.css">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body class="full-height" id="iemerge">
    <header>
        <h1>Welcome to i<span class="accent">Emerge</span>:</h1>
        <p class="bold">The Emergency Nurse Portal for AGAHF.</p>
    </header>

    <main class="home-main">
        <div class="container">
            <div class="alert-parent">
                <%- include('../partials/_flash-alert') %>
                <section class="intro">
                    <p class="bold">A dedicated platform to support emergency nurses in delivering critical care. <br>Log patient triage, report incidents, and manage emergency resources. <br>Follow these steps to get started:</p>
                    <ul>
                        <li><strong>Register:</strong> Complete the user registration form.</li>
                        <li><strong>Activate:</strong> Look out for an activation email from Numans Notifications.</li>
                        <li><strong>Login:</strong> Access your emergency nurse account with your credentials.</li>
                        <li><strong>Explore:</strong> Utilize the portal for efficient workflows.</li>
                    </ul>
                </section>
                <section class="qlinks">
                    <h2>Quick Links</h2>
                    <div class="btn-grp">
                        <a href="/landing-page" class="btn"><i class="fas fa-arrow-left"></i> Hub</a>
                        <a href="/register" class="btn">Register</a>
                        <a href="/login" class="btn">Login</a>
                        <a href="/reset-request" class="btn">Reset</a>
                        <a href="/iemerge-dashboard" class="btn hidden">iEmerge</a>
                    </div>
                </section>
            </div>
        </div>
    <!-- Floating Feedback Button -->
    <div id="feedback-float" class="feedback-float">
        <button onclick="window.location.href='/emergency-survey'" aria-label="Give Feedback">
            📝 Feedback
        </button>
    </div>
    </main>

    <%- include('../partials/_footer') %>

<script src="/js/mineaid-scripts.js"></script>
</body>
</html>
