<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Not Authorized - MineAid</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css"> <!-- Link to your CSS -->
</head>
<body class="full-height">
    <header>
        <%- include('../partials/_login-toggler') %>
    </header>
    <main>
        <div class="inner-flex">
            <div class="container">
                <div class="message-container alert-parent">
                    <!-- Display flash messages if there are any -->
                        <%- include('../partials/_flash-alert') %>
                    <h1>403 - Unauthorized!.</h1>
                    <div class="error-text">
                        <p>This action is restricted to the SuperUser.</p>
                        <p>Please try again later or contact support if the problem persists.</p>
                    </div>
                    <div class="btn-grp">
                        <a class="btn btn-outline" href="javascript:history.back()">Go back</a>
                        <a class="btn" href="/contact">Contact Support</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/_footer') %>
    <script src="js/mineaid-scripts.js"></script>
</body>
</html>
