<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css"> <!-- Link to your CSS -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
    <header><%- include('../partials/_header') %></header>  <!-- Root-relative to 'views/partials/_header.ejs' -->

<main>
    <div class="container">
        <h1>500 - Internal Server Error</h1>
        <p>Oops! Something went wrong on our end.</p>
        <p>Please try again later or contact support if the problem persists.</p>
        <a href="/">Go back to Home</a>
    </div>
</main>

    <footer><%- include('../partials/_footer') %></footer>  <!-- Root-relative to 'views/partials/_footer.ejs' -->

</body>
</html>
