<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - First Aid Portal</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body class="error-body">
    <div class="error-container alert-parent">
        <!-- Display flash messages if there are any -->
        <%- include('../partials/_flash-alert') %>
        <h1>Oops! Something went wrong.</h1>
        <p>We're sorry, but the page you're looking for doesn't exist or an error occurred.</p>
        
        <a class="btn btn-outline" href="javascript:history.back()">Go back</a>

    </div>
    <script src="js/mineaid-scripts.js"></script>
</body>
</html>
