<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - First Aid Portal</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body class="error-body full-height">
    <header><%- include('../partials/_login-toggler') %></header>
    <main>
            <div class="container">
                <div class="message-container">
                    <div class="alert-parent">
                        <!-- Display flash messages if there are any -->
                        <%- include('../partials/_flash-alert') %>
                        <h1>Registration Error.</h1>
                        <div class="error-text">
                            <p>We're sorry, but there's something wrong with the data you provided.</p>
                            <p>Ensure your passwords match.</p>
                            <p>If your email or username already exist, contact Admin for password reset.</p>
                        </div>
            
                        <div class="btn-grp">
                            <a class="btn btn-outline" href="javascript:history.back()">Go back</a>
                            <a class="btn btn-outline" href="/">Go Home</a>
                            <a class="btn" href="mailto:nuestman@icloud.com">Request Password Reset</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/_footer') %>
        <script src="js/mineaid-scripts.js"></script>
</body>
</html>
